<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" [routerLink]="['/create']">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <div class='list-group'>
      <a
        [routerLink]="['/recipes', recipeEl.id]"
        *ngFor="let recipeEl of recipes"
        href='#'
        class='list-group-item'
      >
        {{ recipeEl.name }}
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<!--[recipe]="recipeEl"-->
